<!DOCTYPE html>
<html>
<head>
    <title>Students List</title>
</head>
<body>
    <h1>Students List</h1>
    <table border="1">
        <thead>
            <tr>
                <th>Roll No</th>
                <th>Name</th>
                <th>Address</th>
                <th>Birth Date</th>
                <!-- <th>College</th> -->
            </tr>
        </thead>
        <tbody>
            {% for student in students %}
            <tr>
                <td>{{ student.rollNo }}</td>
                <td>{{ student.name }}</td>
                <td>{{ student.address }}</td>
                <td>{{ student.birth_date }}</td>
                <!-- <td>{{ student.college.name }}</td> -->
            </tr>
            {% endfor %}
        </tbody>
    </table>
</body>
</html>